# nova api, conductor, etc services
compute-infra_hosts:
{% for controllerIP in controllerIP %}
  {{controllerHostName}}{% if loop.index | int < 10  %}0{% endif %}{{loop.index}}:
    ip: {{controllerIP}}
{% endfor %}

