cidr_networks:
{% for cidr_networks in cidr_networks %}
{% for key, value in cidr_networks.items() %}
  {{key}}:{{value}}
{% endfor %}
{% endfor %}

used_ips:
{% for used_ips in used_ips %}
  - "{{used_ips}}"
{% endfor %}

lxc_container_domain: "{{lxc_container_domain}}"

global_overrides:
  internal_lb_vip_address: "{{ internal_vip }}"
  external_lb_vip_address: "{{ horizon_domain }}"
  tunnel_bridge: "br-vxlan"
  management_bridge: "br-mgmt"
  monlog_bridge: "br-monlog"
  provider_networks:
    - network:
        container_bridge: "br-mgmt"
        container_type: "veth"
        container_interface: "eth1"
        ip_from_q: "container"
        type: "raw"
        group_binds:
          - all_containers
          - hosts
        is_container_address: true
        is_ssh_address: true
    - network:
        container_bridge: "br-vxlan"
        container_type: "veth"
        container_interface: "eth2"
        ip_from_q: "tunnel"
        type: "vxlan"
        range: "1:10000"
        container_mtu: "9000"
        net_name: "vxlan"
        group_binds:
          - neutron_linuxbridge_agent
          - neutron_openswitch_agent
    - network:
        container_bridge: "br-storage"
        container_type: "veth"
        container_interface: "eth3"
        ip_from_q: "storage"
        container_mtu: "9000"
        type: "raw"
        group_binds:
          - glance_api
          - cinder_api
          - cinder_volume
          - nova_compute
    - network:
        container_bridge: "br-monlog"
        container_type: "veth"
        container_interface: "eth4"
        ip_from_q: "monitor"
        container_mtu: "1500"
        type: "raw"
        group_binds:
          - rabbitmq_all
          - galera_all
          - hosts

